<div class="row">
  <div class="large-6 large-offset-3 column">
    <form action="/post/new/" method="POST">
    	<input type="text" name="title" placeholder="Title">
    	<input type="text" name="url" placeholder="url">
      <label>Body</label>
      <textarea name="text" cols="30" rows="10"></textarea>
      <input type="submit" value="Post" class="button">
    </form>
  </div>
</div>
