<form action="/post/new/" action="POST">
	<input type="text" name="title" placeholder="Title">
	<input type="text" name="url" placeholder="url">
  <textarea name="text" cols="30" rows="10"></textarea>
  <input type="submit" value="Edit" class="button">
</form>