<div class="row">
	<div class="large-6 large-offset-3 column">
		<form class="form" action="/user/new" method="POST">
			<input type="text" placeholder="Username" name="user_name">
			<input type="password" placeholder="Password" name="password">
			<input type="password" placeholder="Password Confirmation" name="password_confirmation">
			<input type="submit" value="Sign Up!" class="button">
		</form>
	</div>
</div>
